@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  text-align: center;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

#outer-layout {
  width: 100%;
  height: 100%;
  display: flex;
}

div#inner-layout {
  color: #2f333d;
  margin: 0 auto;
  min-width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

div#inner-layout h1 {
  color: #070c18;
  font-size: 24px;
  font-weight: 600;
}

div#inner-layout p {
  font-size: 16px;
  color: #2f333d;
}

footer {
  margin-top: 50px;
}

a {
  color: #6a6d74;
  text-decoration: none;
}

#maintenance_frame {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

footer > * {
  color: #6a6d74 !important;
  margin: 18px 0;
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
}

#footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

#logo-wrapper img {
  width: 91px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e2e3;
  padding: 0;
}

#percent-logo {
  margin-bottom: -1px;
}

span {
  font-weight: 600;
}

@media (min-width: 600px) {
  div#inner-layout {
    margin: 0 auto;
    margin-top: 10vh;
    width: auto;
    padding: 10px 80px;
    border-radius: 8px;
    box-shadow: 0px 40px 72px rgba(7, 12, 24, 0.08);
  }
}

@media (min-width: 800px) {
  div#inner-layout {
    width: 560px;
  }
}
